In [2]:
import pandas as pd

In [34]:
analyte_dict = {
	"CREA" : ["SL_nz-krea","Crea","Creatinin","Krea","Kreatinin","Kreatinin im Serum","KREA","CREA","KRS"],
	"GFR" : ["SL_nz-ckd-epi", "eGFR","eGFR CysC(CKD-EPI)", "GFR", "Glomeruläre Filtrationsrate","glomeruläre Filtrationsrate"],
	"BLUTZUCKER" : ["GLucose Poct","SL_nz-glu", "Glukose","Glucose","BZ","YBZ","YBGABZ", "BZNÜ","BZ14", "GLUS","Blutzucker"],
	"KALIUM" : ["Kalium Poct","Kalium","Kalium im Serum","K","K+","RM_K+","SL_nz-k","YK+"],
	"NATRIUM" : ["Natrium Poct","Natrium","Na","Na+","YNA+","NA","SL_nz-na"],
	"HÄMOGLOBIN" : ["Hämoglobin Poct","Hämoglobin","HB","SL_nz-hb","YTHB","HBG"],
	"QUICK" : ["Quick (TPZ)","SL_nz-quick2", "QUICK","QUIP","Quick ( TPZ )"],
	"INR" : ["inr","INR"],
#	"TROPONIN" : ["Troponin T"],
	"ALBUMIN" : ["SL_nz-alb","ALBUM","Albumin im Serum","ALB","Albumin"],
	"FOLSÄURE" : ["SL_nz-fol2","Folsäure","FOLS"],
	"EIWEIß" : ["SL_nz-tp","TP","Gesamteiweiß"],
	"LEUKOZYTEN" : ["SL_nz-leuko","LEUK","Leukozyten","LEU"],
	"PROBNP" : ["SL_nz-probnp","NT pro B-Typ natriuretisches Peptid","BNP","NT-proBNP"],
	"FERRITIN" : ["SL_nz-fer","FERRI","Ferritin","FER"],
	"HBA1C" : ["SL_nz-hba1c","SL_nz-hba1c-cob","HBA1C","HbA1c", "HbA1 c berechnet in mmol/mol"],
	"SO2" : ["SL_nz-so2-k","SL_nz-so2-a","POCT SO2c", "POCT SO2c arteriell","YSO2","SOA2","SO2K","SO2SA","SO2A","O2 Sättigung POCT","P_SO2",],
	"PCO2" : ["SL_nz-pco2-k","YPCO2","YPCO2T","PCO2  Poct", "POCT pCO2t arteriell", "PCO2V","PCO2A","PCO2K","pCO2"],
	"PO2" : ["SL_nz-po2-k","YPO2","YPO2T","PO2A","PO2K","POCT pO2t arteriell", "POCT pO2t","pO2"]
	}

In [3]:
data1 = pd.read_csv("../AKAH/Daten/Labor/Labor_AKAH_2018_Q1.csv", sep=";", encoding="latin1")
data2 = pd.read_csv("../AKAH/Daten/Labor/Labor_AKAH_2018_Q2.csv", sep=";", encoding="latin1")
data3 = pd.read_csv("../AKAH/Daten/Labor/Labor_AKAH_2018_Q3.csv", sep=";", encoding="latin1")
data4 = pd.read_csv("../AKAH/Daten/Labor/Labor_AKAH_2018_Q4.csv", sep=";", encoding="latin1")

In [9]:
len(data1)

1048575

In [7]:
all_data = data1.append([data2,data3,data4]).reset_index()

In [8]:
len(all_data)

4194300

In [10]:
all_data.head(5)

,index,FALLNR,VORGANGSNR,DATUMERBRACHTEL,ZEITERBRACHTEL,CODE,BEZEICHNUNG,BEFUNDEL,EINHEIT,NORMALWERTMIN,NORMALWERTMAX,ANMERKUNG,Uhrzeit,Minute
0,0,2118007460,L-23013760,13.02.2018,NaN,5212,Hämoglobin,10.5,g/dl,11.7,15.9,NaN,16,49
1,1,2118007460,L-23013760,13.02.2018,NaN,134,C-reaktives Protein,56.6,mg/l,NaN,5,Ergebnis korreliert mit dem Vorwert_x000d_\n,16,49
2,2,2118011309,L-23013912,13.02.2018,NaN,2103,aktivierte part.Thromboplastinzeit,32.4,sec,28.8,38.2,NaN,20,20
3,3,2118011853,L-23014426,14.02.2018,NaN,161,Glucose,79,mg/dl,73,107,NaN,13,11
4,4,2118008546,L-23002304,01.02.2018,NaN,138,Creatinkinase,115,U/l,38,191,NaN,14,1

In [11]:
mibi = all_data.query("CODE==55000")

In [12]:
print(len(mibi))
mibi = mibi.append(all_data.query("CODE==10205"))
print(len(mibi))

9559
12711

In [13]:
print(len(mibi))
mibi = mibi.append(all_data.query("CODE==10200")).copy()
print(len(mibi))

12711
15832

In [14]:
mibi["ANMERKUNG"] = mibi["ANMERKUNG"].str.replace("_x000d_","")

In [15]:
mibi["ANMERKUNG"] = mibi["ANMERKUNG"].str.replace("GEWÜNSCHTE UNTERSUCHUNG:\n .*\n","")
mibi["ANMERKUNG"] = mibi["ANMERKUNG"].str.replace(" species","")
mibi["ANMERKUNG"] = mibi["ANMERKUNG"].str.replace(" sp.","")
mibi["ANMERKUNG"] = mibi["ANMERKUNG"].str.replace("\.\.\.*"," ")

In [16]:
mibi = mibi[["FALLNR","ANMERKUNG"]]

In [28]:
mibi.dropna(inplace=True)

In [29]:
mibi.to_csv("../AKAH/Daten/Mibi/AKAH_Mibi_2019.csv",encoding="latin1",sep=";",index=False)

In [60]:
lab = all_data.loc[~all_data.index.isin(mibi.index)].copy()

In [61]:
lab.head()

,index,FALLNR,VORGANGSNR,DATUMERBRACHTEL,ZEITERBRACHTEL,CODE,BEZEICHNUNG,BEFUNDEL,EINHEIT,NORMALWERTMIN,NORMALWERTMAX,ANMERKUNG,Uhrzeit,Minute
0,0,2118007460,L-23013760,13.02.2018,NaN,5212,Hämoglobin,10.5,g/dl,11.7,15.9,NaN,16,49
1,1,2118007460,L-23013760,13.02.2018,NaN,134,C-reaktives Protein,56.6,mg/l,NaN,5,Ergebnis korreliert mit dem Vorwert_x000d_\n,16,49
2,2,2118011309,L-23013912,13.02.2018,NaN,2103,aktivierte part.Thromboplastinzeit,32.4,sec,28.8,38.2,NaN,20,20
3,3,2118011853,L-23014426,14.02.2018,NaN,161,Glucose,79,mg/dl,73,107,NaN,13,11
4,4,2118008546,L-23002304,01.02.2018,NaN,138,Creatinkinase,115,U/l,38,191,NaN,14,1

In [62]:
lab["EINHEIT"].loc[lab["BEZEICHNUNG"].isin(analyte_dict["PCO2"])] = "mmhg"

In [63]:
lab["EINHEIT"].loc[lab["BEZEICHNUNG"].isin(analyte_dict["PO2"])] = "mmhg"

In [64]:
lab=lab[~lab["DATUMERBRACHTEL"].isin(["p"])]

In [65]:
lab["Datum"]=lab["DATUMERBRACHTEL"].astype(str)+" "+lab["Uhrzeit"].astype(str)+":"+lab["Minute"].astype(str)+":00"
lab["Referenzbereich"]=lab["NORMALWERTMIN"].astype(str)+"-"+lab["NORMALWERTMAX"]
krea_mask = lab["BEZEICHNUNG"]=="Kreatinin im Serum"
lab["Referenzbereich"][krea_mask] = (lab["NORMALWERTMIN"][krea_mask].astype(float)*88.4).astype(str)+"-"+(lab["NORMALWERTMAX"][krea_mask].astype(float)*88.4).astype(str)

C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [66]:
lab.to_csv("../AKAH/Daten/Labor/AKAH_Labor_2019.csv",encoding="latin1",sep=";",index=False)